form input{
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    &:hover:not(.screen){
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    &[type="text"]{
        grid-column: span 4;
        text-align: right;
        padding: 0 10px;
        color:white;
    }
 
}

form {
    .screen{
        background-color: black;
        font-family:'VT323', monospace;
        font-size: 20px;
    }
    
    .operator{
        background-color: var(--operator-color);
    }

    .clear{
        grid-column: span 3;
        background-color: var(--etc-color);
    }
    .punct{
        background-color: var(--operator-color);
    }
    .result{
        grid-column: span 2;
        background-color: var(--etc-color);
    }
}