*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
    background-color: darkorchid;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    .calculator{
        width: 320px;
        background-color: var(--bg-color);
        border-radius: 20px;
        padding:20px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    form{
        display:grid;
        grid-template-columns: repeat(4, 65px);
        grid-auto-rows: 65px;
        grid-gap: 5px;
    }
}